
<h1>Listing Plots</h1>

    <% @plots.each do |plot| %>
    
        <h3><%= link_to plot.title, plot %></h3>
        <td><%= link_to 'Edit', edit_plot_path(plot) %></td>
        <td><%= link_to 'Destroy', plot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
<br>


